body {
    background-color: #81A3AA;
    font-family: 'Gloria Hallelujah', cursive;
}

.top {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: rgba(239, 239, 239, .8);
    border-radius: 10px;
    box-shadow: 10px;
    text-align: center;
    justify-content: center;
    margin: 50px 230px 30px 230px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: -45px;
}

.main {
    height: 350px;
}

.bottom {
    background-color: rgba(239, 239, 239, .8);
    margin: 150px 230px 150px 230px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    ;
}

.image3 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: -320px;
    margin-left: 450px;
}

h4 {
    display: flex;
    text-align: center;
    margin-top: 70px;
    margin-right: 850px;
    margin-left: 30px;
    background-color: rgba(239, 239, 239, .8);
    border-radius: 10px;
    justify-content: center;
    width: 200px;
}

.plantStats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: rgba(239, 239, 239, .8);
    margin: 0 230px 0 230px;
    border-radius: 10px;
}

.command-buttons {
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    height: 50px;
    text-shadow: 1px;
}

.button1 {
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}

.button2 {
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}

.button3 {
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}

.max {
    margin-right: 5px;
    margin-left: -30px;
}

.stat {
    margin-right: -25px;
}

.reset-button {
    text-align: center;
    margin-top: -5px;
    border-radius: 5px;
    height: 50px;
    text-shadow: 1px;
}

.button4 {
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}
.seedling-leaf {
    display: flexbox;
    height: 500px;
    width: 500px;
}